.container {
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 40vw;

    h2 {
        margin-bottom: 2rem;
    }
}

.table {
    font-size: 1.5rem;
    align-items: center;

    strong {
        color: var(--green-900);
        font-size: 1.7rem;
    }
}

.containerItem {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    strong {

        color: var(--red-900);
    }
}

.description {
    margin-top: .3rem;
    margin-left: 1.5rem;
    font-size: .8rem;
}

.finishedOrder {
    background-color: var(--dark-900);
    border: 0;
    color: var(--green-900);
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: .4rem;
}

@media (max-width: 610px) {
    .container {
        width: 70vw;
    }
}