.container {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
}

.container h1 {
    color: var(--white);
}

.containerHeader {
    display: flex;
    flex-direction: row;

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;
    }

}

.listOreders {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.orderItem {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
        width: 100%;
    }

}

.tag {
    width: 9px;
    background-color: var(--green-900);
    height: 60px;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: 1rem;
}

.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    height: 60vh;
    width: 25vw;
    border-radius: 10px;
    border: 1px solid #fff;
    margin: 0 1rem;
    cursor: pointer;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10%;
    }

    main {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 37%;
        font-size: 2rem;
        color: #fff;
        font-weight: 100;
    }
}

.card:hover {
    background-color: #101026;
}